<!--
https://RundesBalli.com
https://github.com/RundesBalli
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{TITLE}RundesBalli.com</title>
    <meta charset="utf-8">
    <meta name="description" content="RundesBalli.com Homepage"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="RundesBalli, Homepage, Projects, Programming, Coding, PHP, Code, ADSB, ADS-B, Factorio"/>
    <meta name="author" content="RundesBalli"/>
    <meta name="revisit-after" content="3 days"/>
    <link href="/assets/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/svg+xml">
    <meta name="theme-color" content="#0E273C">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{TITLE}RundesBalli.com">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://RundesBalli.com{REQUESTURI}">
    <meta property="og:image" content="https://RundesBalli.com/assets/images/logo.png">
    <meta property="og:image:secure_url" content="https://RundesBalli.com/assets/images/logo.png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:image:alt" content="RundesBalli.com">
    {OGDESCRIPTION}
    <meta property="og:locale" content="en">
    <meta property="og:site_name" content="RundesBalli.com">
    <link rel="preload" href="/assets/fonts/MaterialSymbolsOutlined.ttf" as="font" crossorigin>
    <link rel="preload" href="/assets/fonts/Roboto-Bold.ttf" as="font" crossorigin>
    <link rel="preload" href="/assets/fonts/Roboto-Regular.ttf" as="font" crossorigin>
    <link rel="preload" href="/assets/fonts/RobotoCondensed-Bold.ttf" as="font" crossorigin>
    <link rel="preload" href="/assets/fonts/RobotoMono-Regular.ttf" as="font" crossorigin>
  </head>
  <body>
    <header>
      <div id="logo">
        <a href="/"><img src="/assets/images/header.svg" alt="RundesBalli"></a>
      </div>
    </header>
    <nav id="nav">
      {NAV}
    </nav>
    <div id="wrapper">
      {CONTENT}
    </div>
    <footer>
      {FOOTER}
    </footer>
    <script type="text/javascript" src="/assets/js/toggleMenu.js"></script>
  </body>
</html>
