/*
CSS stylesheet for https://RundesBalli.com/

https://RundesBalli.com/
https://github.com/RundesBalli

Sources:
- Font-Awesome Free: https://fontawesome.com/start

Contents:
1. General
2. Header
3. Navigation
4. Footer
5. Grid
*/

/*
  1. General
*/

html, body {
  padding: 0px;
  margin: 0px;
  width: auto;
  height: auto;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
  color: #cdcdcd;
}

body {
  display: flex;
  flex-flow: column;
  background: #000 url(/src/noise_hex-1b1b1b-t50-tS7-bW0-mB-mu1.2-st2.png) 0 0 repeat;
}

.navbar, .wrapper {
  text-shadow: 1px 2px 1px #000000;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  outline: none;
  color: #ff6600;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s;
}

a:active, a:hover, a:focus {
  color: #cdcdcd;
}

h1, h2, h3 {
  text-align: center;
  word-break: break-word;
}

hr {
  border: 1px solid rgba(205, 205, 205, 0.2); /* #cdcdcd */
  width: 100%;
}

.pre {
  font-family: monospace;
}

.breakWord {
  word-break: break-word;
}

.center {
  text-align: center;
}

/*
1.1 Fontawesome
https://fontawesome.com/
*/

@font-face {
  font-family: 'fontawesome-r';
  font-style: normal;
  font-weight: 400;
  src: url("/src/webfonts/fa-regular-400.eot");
  src: url("/src/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("/src/webfonts/fa-regular-400.woff2") format("woff2"), url("/src/webfonts/fa-regular-400.woff") format("woff"), url("/src/webfonts/fa-regular-400.ttf") format("truetype"), url("/src/webfonts/fa-regular-400.svg#fontawesome") format("svg");
}

.far {
  font-family: 'fontawesome-r';
  font-weight: 400;
}

@font-face {
  font-family: 'fontawesome-s';
  font-style: normal;
  font-weight: 900;
  src: url("/src/webfonts/fa-solid-900.eot");
  src: url("/src/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/src/webfonts/fa-solid-900.woff2") format("woff2"), url("/src/webfonts/fa-solid-900.woff") format("woff"), url("/src/webfonts/fa-solid-900.ttf") format("truetype"), url("/src/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fas {
  font-family: 'fontawesome-s';
  font-weight: 900;
}

@font-face {
  font-family: 'fontawesome-b';
  font-style: normal;
  font-weight: normal;
  src: url("/src/webfonts/fa-brands-400.eot");
  src: url("/src/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("/src/webfonts/fa-brands-400.woff2") format("woff2"), url("/src/webfonts/fa-brands-400.woff") format("woff"), url("/src/webfonts/fa-brands-400.ttf") format("truetype"), url("/src/webfonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'fontawesome-b';
}

.icon {
  display: inline;
  padding: 0px 5px 0px 0px;
}

/*
  2. Header
*/

.header {
  flex: none;
  text-align: center;
  margin: 15px auto 10px;
}

/*
  3. Navigation
*/

.navbar {
  flex: none;
  text-align: center;
  margin: 10px auto 20px;
  max-width: 1200px;
  width: 100%;
}

.navbar > a {
  color: #ff6600;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s;
  border-left: 1px solid #ff6600;
  padding: 0px 20px;
  display: inline-block;
}

.navbar > a > span.icon {
  padding: 0px 12px 0px 0px;
}

.navbar > a:first-child {
  border: 0px;
}

.navbar > a:active, .navbar > a:hover, .navbar > a:focus {
  color: #cdcdcd;
}

.navbar > a.active {
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .navbar > a {
    display: block;
    border-left: 0px;
  }
}

/*
  4. Footer
*/

.footer {
  width: 100%;
  background-color: rgba(55, 55, 55, 0.2);
  overflow: hidden;
  text-align: center;
  flex: none;
  padding: 5px 0px;
  font-size: 14px;
}

.footer a {
  color: #888888;
  text-decoration: none;
  margin: 0px 10px;
}

.footer > a:active, .footer > a:hover, .footer > a:focus {
  color: #cdcdcd;
}

.footer > a.active {
  font-weight: bold;
}

/*
  5. Grid
*/

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto 15px;
  flex: auto;
}

[class*="col-"] {
  float: left;
  padding: 5px 5px;
  border: 0;
}

@media only screen and (max-width: 900px) {
  [class*="col-"] {
    padding: 5px 8px;
  }
  .col-s-0 {width: 0%; display: none;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  .wrapper {
    padding: 10px;
  }
}

@media only screen and (min-width: 901px) {
  [class*="col-"] {
    padding: 8px 12px;
  }
  .col-l-0 {width: 0%; display: none;}
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.spacer-s {
  height: 15px;
}

.spacer-m {
  height: 30px;
}

.spacer-l {
  height: 50px;
}
